@charset "UTF-8";
/* line 14, C:/Users/alumno/Documents/AD_redSocial_FrontEnd/css/style.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
/* line 24, C:/Users/alumno/Documents/AD_redSocial_FrontEnd/css/style.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/*CSS Global Variables*/
/*medias querys*/
@media screen and (max-width: 1250px) {
  /* line 42, C:/Users/alumno/Documents/AD_redSocial_FrontEnd/css/style.scss */
  .iconosMenu {
    margin-left: 10% !important; } }

@media screen and (max-width: 1185px) {
  /* line 47, C:/Users/alumno/Documents/AD_redSocial_FrontEnd/css/style.scss */
  .iconosMenu {
    margin-left: 5% !important; } }

@media screen and (max-width: 1130px) {
  /* line 53, C:/Users/alumno/Documents/AD_redSocial_FrontEnd/css/style.scss */
  .iconosMenu {
    margin-left: 0 !important; } }

@media screen and (max-width: 1075px) {
  /* line 59, C:/Users/alumno/Documents/AD_redSocial_FrontEnd/css/style.scss */
  .md-button {
    margin-right: 0;
    margin-left: 0;
    font-size: 15px; }
  /* line 64, C:/Users/alumno/Documents/AD_redSocial_FrontEnd/css/style.scss */
  .iconosMenu {
    margin-left: 6% !important; } }

@media screen and (max-width: 1040px) {
  /* line 70, C:/Users/alumno/Documents/AD_redSocial_FrontEnd/css/style.scss */
  .iconosMenu {
    margin-left: 0 !important; } }

/*@media screen and (max-width: 970px){
    .iconosMenu {
        width: 1px !important;
    }
}*/
@media screen and (max-width: 970px) {
  /* line 82, C:/Users/alumno/Documents/AD_redSocial_FrontEnd/css/style.scss */
  .md-button {
    font-size: 12px; } }

@media screen and (max-width: 875px) {
  /* line 88, C:/Users/alumno/Documents/AD_redSocial_FrontEnd/css/style.scss */
  .iconosMenu {
    width: 1px !important; } }

@media screen and (max-width: 835px) {
  /* line 96, C:/Users/alumno/Documents/AD_redSocial_FrontEnd/css/style.scss */
  .md-button {
    font-size: 13px; }
  /* line 99, C:/Users/alumno/Documents/AD_redSocial_FrontEnd/css/style.scss */
  #menu {
    width: 80% !important;
    background-color: black; }
  /* line 103, C:/Users/alumno/Documents/AD_redSocial_FrontEnd/css/style.scss */
  .iconosMenu {
    margin-left: 30% !important; } }

@media screen and (max-width: 700px) {
  /* line 109, C:/Users/alumno/Documents/AD_redSocial_FrontEnd/css/style.scss */
  #menu {
    width: 100% !important;
    border-radius: 0 !important; } }

@media screen and (max-width: 700px) {
  /* line 116, C:/Users/alumno/Documents/AD_redSocial_FrontEnd/css/style.scss */
  .contenedorVistas {
    width: 80%; }
  /* line 119, C:/Users/alumno/Documents/AD_redSocial_FrontEnd/css/style.scss */
  .botonesCrear {
    margin-bottom: 50px; } }

/* line 126, C:/Users/alumno/Documents/AD_redSocial_FrontEnd/css/style.scss */
:focus {
  outline: #337ab7 auto 5px; }

/* line 130, C:/Users/alumno/Documents/AD_redSocial_FrontEnd/css/style.scss */
body {
  line-height: 1;
  font-size: 13px;
  height: 31px;
  width: 100%;
  font-family: verdana;
  overflow: hidden; }

/* line 139, C:/Users/alumno/Documents/AD_redSocial_FrontEnd/css/style.scss */
.error {
  margin-left: 2%;
  color: crimson; }

/* -------------------- Contenedor de las vistas de la pagina (ng-view) ---------------------- */
/* line 145, C:/Users/alumno/Documents/AD_redSocial_FrontEnd/css/style.scss */
#contenedorVistas {
  height: 75%; }

/* ------------------------------- CABECERA Y PIE ---------------------- */
/* line 152, C:/Users/alumno/Documents/AD_redSocial_FrontEnd/css/style.scss */
header {
  width: auto;
  min-width: 20%;
  height: 7%;
  overflow: hidden;
  background: #242424;
  box-shadow: 1px 1px 1px 1px #777; }

/* line 160, C:/Users/alumno/Documents/AD_redSocial_FrontEnd/css/style.scss */
header #logoSharon {
  max-height: 100%;
  min-height: 100%;
  display: block;
  margin: auto; }

/* line 167, C:/Users/alumno/Documents/AD_redSocial_FrontEnd/css/style.scss */
footer {
  width: 100%;
  overflow: hidden;
  background: #242424;
  position: fixed;
  bottom: 0px;
  height: 5%;
  clear: both; }

/* line 177, C:/Users/alumno/Documents/AD_redSocial_FrontEnd/css/style.scss */
footer #logoGfi {
  /*width: 5%;
    min-width: 5%;*/
  max-height: 70%;
  min-height: 5%;
  float: left;
  margin-top: 5px;
  margin-left: 9px; }

/* line 186, C:/Users/alumno/Documents/AD_redSocial_FrontEnd/css/style.scss */
footer nav a {
  float: right;
  display: inline-block;
  color: #337ab7;
  padding: 2% 2%;
  line-height: normal;
  font-size: 11px;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease; }

/* line 197, C:/Users/alumno/Documents/AD_redSocial_FrontEnd/css/style.scss */
footer nav a:hover {
  background: #337ab7;
  border-radius: 50px; }

/* line 201, C:/Users/alumno/Documents/AD_redSocial_FrontEnd/css/style.scss */
footer #lineaFooter {
  box-shadow: 1px 1px 1px 1px #777;
  background: #337ab7;
  bottom: 0px;
  height: 4px;
  width: 100%;
  position: fixed; }

/* --------------------------- ESTILOS MENÚ ---------------------- */
/* line 211, C:/Users/alumno/Documents/AD_redSocial_FrontEnd/css/style.scss */
#menu {
  width: 100%;
  height: auto;
  color: white;
  overflow: hidden;
  background: #337ab7; }

/* line 218, C:/Users/alumno/Documents/AD_redSocial_FrontEnd/css/style.scss */
.textoHipervinculo {
  color: #242424;
  text-decoration: none; }

/* line 222, C:/Users/alumno/Documents/AD_redSocial_FrontEnd/css/style.scss */
.textoHipervinculo:hover {
  color: #337ab7;
  text-decoration: none;
  width: 100%; }

/* line 227, C:/Users/alumno/Documents/AD_redSocial_FrontEnd/css/style.scss */
.iconoLogout {
  margin-left: 200%; }

/* line 230, C:/Users/alumno/Documents/AD_redSocial_FrontEnd/css/style.scss */
.btn {
  padding: 3%;
  color: white; }

/* line 235, C:/Users/alumno/Documents/AD_redSocial_FrontEnd/css/style.scss */
#botonesMenu {
  width: 35%;
  margin-left: 3%; }

/* input     margin-left: 20%;*/
/* line 240, C:/Users/alumno/Documents/AD_redSocial_FrontEnd/css/style.scss */
.refBoton {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
  color: initial; }

/* line 249, C:/Users/alumno/Documents/AD_redSocial_FrontEnd/css/style.scss */
#buscador {
  width: 55%;
  display: inline-block;
  color: black; }

/* line 255, C:/Users/alumno/Documents/AD_redSocial_FrontEnd/css/style.scss */
.iconosMenu {
  margin-left: 5%; }

/* --------------------------- ESTILOS BIENVENIDA ---------------------- */
/* line 261, C:/Users/alumno/Documents/AD_redSocial_FrontEnd/css/style.scss */
#bienvenida {
  text-align: center;
  margin-top: 300px; }

/* --------------------------- ESTILOS COMUNES ----------------------------- */
/* line 268, C:/Users/alumno/Documents/AD_redSocial_FrontEnd/css/style.scss */
.cabeceraPagina {
  margin-right: 25px;
  text-align: right;
  font-size: 25px;
  height: 40px;
  color: #ee941a; }

/* line 275, C:/Users/alumno/Documents/AD_redSocial_FrontEnd/css/style.scss */
.botonesApp {
  background-color: #337ab7;
  font-size: 13px;
  text-align: center; }

/* line 280, C:/Users/alumno/Documents/AD_redSocial_FrontEnd/css/style.scss */
#dialogLogueado {
  width: 90px;
  height: 90px;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 2px 2px 2px 2px #777;
  background-color: #ececec; }

/* line 287, C:/Users/alumno/Documents/AD_redSocial_FrontEnd/css/style.scss */
.contenedorVistas {
  margin-top: 0.2%;
  overflow: auto;
  overflow-x: hidden;
  height: 700px; }

/* line 293, C:/Users/alumno/Documents/AD_redSocial_FrontEnd/css/style.scss */
.contenedorVistasAyuda {
  margin-top: 0.2%;
  overflow: initial;
  height: 700px; }

/* --------------------------- ESTILOS LOGIN ----------------------------- */
/* line 301, C:/Users/alumno/Documents/AD_redSocial_FrontEnd/css/style.scss */
#contenedorLogin {
  margin: 50px auto;
  margin-top: 150px;
  width: 400px;
  font-family: sans-serif;
  font-size: 15px; }

/* line 309, C:/Users/alumno/Documents/AD_redSocial_FrontEnd/css/style.scss */
#contenedorLogin #superior #contenido {
  margin-left: 20px; }

/* line 313, C:/Users/alumno/Documents/AD_redSocial_FrontEnd/css/style.scss */
#contenedorLogin #superior p {
  text-align: center;
  color: red;
  font-size: 11px; }

/* line 319, C:/Users/alumno/Documents/AD_redSocial_FrontEnd/css/style.scss */
#contenedorLogin #inferior {
  background-color: #242424;
  -webkit-border-radius: 0 0 20px 20px;
  -moz-border-radius: 0 0 20px 20px;
  border-radius: 0 0 20px 20px;
  color: #fff;
  font-size: 12px;
  padding: 20px 26px;
  box-shadow: 2px 2px 4px 2px #666;
  margin-bottom: 8%; }

/* line 331, C:/Users/alumno/Documents/AD_redSocial_FrontEnd/css/style.scss */
#cbLogin {
  left: 37%; }

/* line 337, C:/Users/alumno/Documents/AD_redSocial_FrontEnd/css/style.scss */
md-checkbox.md-checked .md-icon {
  background-color: #337ab7; }

/* --------------------------- ESTILOS REGISTRO ----------------------------- */
/* line 343, C:/Users/alumno/Documents/AD_redSocial_FrontEnd/css/style.scss */
#registro {
  margin-left: 30%; }

/* line 347, C:/Users/alumno/Documents/AD_redSocial_FrontEnd/css/style.scss */
#contenedorRegistro {
  width: 70%;
  height: 100%;
  margin-left: 13.5%;
  background-color: #ececec;
  box-shadow: 2px 2px 4px 2px #666; }

/* line 355, C:/Users/alumno/Documents/AD_redSocial_FrontEnd/css/style.scss */
.cabeceraRegistro {
  border-bottom: 3px solid;
  display: block;
  border-color: #337ab7;
  width: 95%;
  margin-left: 2%;
  margin-top: 3%;
  padding-left: 5%;
  padding-bottom: 1%;
  font-size: x-large;
  color: #337ab7; }

/* line 368, C:/Users/alumno/Documents/AD_redSocial_FrontEnd/css/style.scss */
.contenidoRegistro {
  padding-left: 5%; }

/* line 372, C:/Users/alumno/Documents/AD_redSocial_FrontEnd/css/style.scss */
md-checkbox.md-checked .md-icon {
  background-color: #337ab7; }

/* line 376, C:/Users/alumno/Documents/AD_redSocial_FrontEnd/css/style.scss */
#botonRegistro {
  margin-left: 45%; }

/* --------------------------- ESTILOS INICIO ----------------------------- */
/* line 382, C:/Users/alumno/Documents/AD_redSocial_FrontEnd/css/style.scss */
#mensajeInicio {
  text-align: center;
  font-size: -webkit-xxx-large; }

/* --------------------------- ESTILOS PERFIL ----------------------------- */
/* line 389, C:/Users/alumno/Documents/AD_redSocial_FrontEnd/css/style.scss */
#fotoPerfil {
  width: 15%; }

/*# sourceMappingURL=style.css.map */