@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block; 
} 

/*CSS Global Variables*/
$colorOscuro: #242424;
$colorGris: #ececec;
$colorPrincipal: #337ab7;
$colorSombreado: #D8D8D8;
$colorError: #CE0000;

$colorHoja: #42DC69;
$colorNodo: #82CDF3;
$colorHojaInvalida: #F43636;

/*medias querys*/

@media screen and (max-width: 1250px) {
    .iconosMenu {
        margin-left: 10% !important;
    }
}
@media screen and (max-width: 1185px){
    .iconosMenu {
        margin-left: 5% !important;
    }
}

@media screen and (max-width: 1130px){
    .iconosMenu {
        margin-left: 0 !important;
    }
}

@media screen and (max-width: 1075px){
    .md-button{
        margin-right: 0;
        margin-left: 0;
        font-size: 15px;
    }
    .iconosMenu {
        margin-left: 6% !important;
    }
}

@media screen and (max-width: 1040px){
    .iconosMenu {
        margin-left: 0 !important;
    }
}

/*@media screen and (max-width: 970px){
    .iconosMenu {
        width: 1px !important;
    }
}*/

@media screen and (max-width: 970px){
    .md-button{
        font-size: 12px;
    }
}

@media screen and (max-width: 875px){
    .iconosMenu {
        width: 1px !important;
    }
}



@media screen and (max-width: 835px){
    .md-button{
        font-size: 13px;
    }
    #menu{
        width: 80% !important;
        background-color: black;
    }
    .iconosMenu {
        margin-left: 30% !important;
    }
}

@media screen and (max-width: 700px){
    #menu{
        width: 100% !important;
        border-radius: 0 !important;
    }
}

@media screen and (max-width: 700px) {
    .contenedorVistas {
       width: 80%;
    }
    .botonesCrear{
        margin-bottom: 50px;
    }
}



:focus {
    outline: $colorPrincipal auto 5px;
}

body {
    line-height: 1;  
    font-size: 13px;
    height: 31px;
    width: 100%;
    font-family: verdana;
    overflow: hidden;
}

.error{
    margin-left: 2%;
    color: crimson;
}
/* -------------------- Contenedor de las vistas de la pagina (ng-view) ---------------------- */

#contenedorVistas{
    height: 75%;
    //overflow-x: hidden;
}

/* ------------------------------- CABECERA Y PIE ---------------------- */

body{
    overflow: auto;
}

header {
    width:auto;
    min-width: 20%;
    height: 7%;
    overflow:hidden; 
    background: $colorOscuro;
    box-shadow: 1px 1px 1px 1px #777;
}
header #logoSharon {
    max-height: 100%;
    min-height: 100%;
    //width: 600px;
    display: block;
    margin: auto;
}
footer {
    width:100%; 
    overflow:hidden; 
    background: $colorOscuro;
    position: fixed;  
    bottom: 0px;
    height: 5%;
    clear:both;
    //min-height: 50px;
}
footer #logoGfi {
    /*width: 5%;
    min-width: 5%;*/
    max-height: 70%;
    min-height: 5%;
    float: left;
    margin-top: 5px;
    margin-left: 9px;
}
footer nav a {
    float: right;
    display: inline-block;
    color: $colorPrincipal;
    padding: 2% 2%;
    line-height: normal;
    font-size: 11px;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease; 
    }
footer nav a:hover {
    background: $colorPrincipal;
    border-radius:50px;
}
footer #lineaFooter{
    box-shadow: 1px 1px 1px 1px #777;
    background: $colorPrincipal;
    bottom: 0px;
    height:4px;
    width:100%;
    position: fixed;
}

/* --------------------------- ESTILOS MENÚ ---------------------- */
#menu{
    width:100%;
    height: auto;
    color: white;
    overflow:hidden; 
    background: $colorPrincipal;
}
.textoHipervinculo {
    color:$colorOscuro;
    text-decoration:none;
}
.textoHipervinculo:hover {
    color:$colorPrincipal;
    text-decoration:none;
    width:100%;    
}
.iconoLogout {
    margin-left: 200%; 
}
.btn {
    color: white;
}

#botonesMenu{
    width: 42%;
        margin-left: 3%;
}
/* input     margin-left: 20%;*/
.refBoton{
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}

#buscador{
    width: 55%;
    display: inline-block;
    color: black;
}

.iconosMenu{
        margin-left: 5%;
}

/* --------------------------- ESTILOS BIENVENIDA ---------------------- */

#bienvenida{
    text-align: center;
    margin-top: 300px;   
}

/* --------------------------- ESTILOS COMUNES ----------------------------- */

.cabeceraPagina {
    margin-right: 25px;
    text-align: right;
    font-size: 25px;
    height: 40px;
    color: $colorPrincipal;
}
.botonesApp{
    background-color: $colorPrincipal;
    font-size: 13px;
    text-align: center; 
}
#dialogLogueado{ 
    width: 90px;
    height: 90px;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 2px 2px 2px 2px #777; 
    background-color: $colorGris;  
}
.contenedorVistas{
    margin-top: 0.2%;
    overflow: auto;
    overflow-x: hidden;
    height: 700px;
}
.contenedorVistasAyuda{
    margin-top: 0.2%;
    overflow: initial;
    height: 700px;
}

/* --------------------------- ESTILOS LOGIN ----------------------------- */

#contenedorLogin {
	margin: 50px auto;
    margin-top: 150px;
	width: 400px;
    font-family: sans-serif;
    font-size: 15px;  
}

#contenedorLogin #superior #contenido{
    margin-left: 20px;
}

#contenedorLogin #superior p{
    text-align: center;
    color: red;
    font-size: 11px;
}

 #contenedorLogin #inferior {
	background-color: $colorOscuro;
	-webkit-border-radius: 0 0 20px 20px;
	-moz-border-radius: 0 0 20px 20px;
	border-radius: 0 0 20px 20px;
	color: #fff;
	font-size: 12px;
	padding: 20px 26px;
    box-shadow: 2px 2px 4px 2px #666;
    margin-bottom: 8%;
}

#cbLogin{
    left: 37%;
}



md-checkbox.md-checked .md-icon {
    background-color: $colorPrincipal;
}

/* --------------------------- ESTILOS REGISTRO ----------------------------- */

#registro{
    margin-left: 30%;
}

#contenedorRegistro {
    width: 70%; 
    height: 100%;
    margin-left: 13.5%;
	background-color: $colorGris;
    box-shadow: 2px 2px 4px 2px #666;     
}

.cabeceraRegistro{
    border-bottom: 3px solid;
    display: block;
    border-color: $colorPrincipal;
    width: 95%;
    margin-left: 2%;
    margin-top: 3%;
    padding-left: 5%;
    padding-bottom: 1%; 
    font-size: x-large;
    color: $colorPrincipal;
}

.contenidoRegistro{
    padding-left: 5%;
}

md-checkbox.md-checked .md-icon {
    background-color: $colorPrincipal;
}

#botonRegistro{
    margin-left: 45%;
}

/* --------------------------- ESTILOS INICIO ----------------------------- */

#mensajeInicio{
        text-align: center;
        font-size: -webkit-xxx-large;
}

/* --------------------------- ESTILOS PERFIL ----------------------------- */

#fotoPerfil{
    width: 15%;
}

.btn {
    margin-right: 8px;
}

.angular-ui-tree-handle {
    background: #f8faff;
    border: 1px solid #dae2ea;
    color: #7c9eb2;
    padding: 10px 10px;
}

.angular-ui-tree-handle:hover {
    color: #438eb9;
    background: #f4f6f7;
    border-color: #dce2e8;
}

.angular-ui-tree-placeholder {
    background: #f0f9ff;
    border: 2px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

tr.angular-ui-tree-empty {
    height:100px
}

.group-title {
    background-color: #687074 !important;
    color: #FFF !important;
}


/* --- Tree --- */
.tree-node {
    border: 1px solid #dae2ea;
    background: #f8faff;
    color: #7c9eb2;
}

.nodrop {
    background-color: #f2dede;
}

.tree-node-content {
    margin: 10px;
}
.tree-handle {
    padding: 10px;
    background: #428bca;
    color: #FFF;
    margin-right: 10px;
}

.angular-ui-tree-handle:hover {
}

.angular-ui-tree-placeholder {
    background: #f0f9ff;
    border: 2px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#fotoDialog{
        height: 60%;
    width: 45%;
}




/*--------------------- ESTILOS ARBOL TECNOLOGIAS -------------------------*/

#ContenedporTipoCompetenciaYNombre{
    
    max-height: 18%
    
}
#cBProductoCompetencia:focus{
    
    outline: none;

}
#productoCompetencia{
    font-size: initial;
    margin-top:5%; 
  
}

#autocompleteCompetencias{
    
    width: 40%;
    margin-right: 2%;
    margin-left: 2%;
    display: inline-block;
}

.angular-ui-tree-handle {
    background: #f8faff;
    border: 1px solid #dae2ea;
    color: #7c9eb2;
    padding: 10px 10px;
}

.angular-ui-tree-handle:hover {
    color: #438eb9;
    background: #f4f6f7;
    border-color: #dce2e8;
}

.angular-ui-tree-placeholder {
    background: #f0f9ff;
    border: 2px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

tr.angular-ui-tree-empty {
    height:100px
}

.group-title {
    background-color: #687074 !important;
    color: #FFF !important;
}


/* --- Tree --- */
.tree-node {
    border: 1px solid #dae2ea;
    background: #f8faff;
    color: #7c9eb2;
}

.nodrop {
    background-color: #f2dede;
}

.tree-node-content {
    margin: 1.5%;
    padding: 1%;
}
.tree-handle {
    padding: 10px;
    background: #428bca;
    color: #FFF;
    margin-right: 10px;
}

.angular-ui-tree-handle:hover {
}

.angular-ui-tree-placeholder {
    background: #f0f9ff;
    border: 2px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.hoja{
    color: black;
    background-color: rgba($colorHoja, 0.42);
}

.nodo{
    color: black;
    background-color: rgba($colorNodo, 0.55);
}

.hojaInvalida{
    background-color: rgba($colorHojaInvalida, 0.55);
    color: black;
}

.elementoSeleccionado{
    text-decoration: underline;
    border-style: none;
}

.imagenSeleccionado{
    float: right;
}

.ocultarImagen{
    display: none;
}

.hoja.elementoSeleccionado{
    background-color: rgba($colorHoja, 1);
}

.hojaInvalida.elementoSeleccionado{
    background-color: rgba($colorHojaInvalida, 1);
}
.nodo.elementoSeleccionado{
    background-color: rgba($colorNodo, 1);
}


/*
li:hover{
    border-width: 1px;
    border-style: dashed;
    border-color: blue;
}*/

#competencias .btnAniadirNodo{
    margin-right: 8%;
}

#datosCompetencia md-input-container{
    width: 90%;
    font-size: 120%;
}
#datosCompetencia button{
    width: 40%;
    margin-left: 2%;
    margin-right: 2%;
    display: inline;
}

#tituloDatosCompetencia{
    font-size: 150%;
    font-style: italic;
    font-weight: bold;
}

md-checkbox[disabled].md-checked .md-icon {
    background-color: $colorPrincipal;
}

md-checkbox[disabled] .md-label {
    color: black;
}

md-toast.md-default-theme .md-toast-content, md-toast .md-toast-content {
    background-color: $colorPrincipal;
    color: black;
}

.leyenda{
    display: block;
}
#colorRaiz{ 
    background-color: #F8FAFF;
    border: 1px solid black;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 1%;
    padding-right: 4%;
    padding-bottom: 1.5%;
    display: inline-block;
}

#colorNodo{ 
    background-color: $colorNodo;
    border: 1px solid black;
    margin-top: 1%;
    margin-left: 5%;
    margin-right: 1%;
    padding-right: 4%;
    padding-bottom: 1.5%;
    display: inline-block;
}

#colorHoja{ 
    background-color: $colorHoja;
    border: 1px solid black;
    margin-top: 1%;
    margin-left: 5%;
    margin-right: 1%;
    padding-right: 4%;
    padding-bottom: 1.5%;
    display: inline-block;
}

#colorHojaInvalida{ 
    background-color: $colorHojaInvalida;
    border: 1px solid black;
    margin-top: 1%;
    margin-left: 5%;
    margin-right: 1%;
    padding-right: 4%;
    padding-bottom: 1.5%;
    display: inline-block;
}

.negrita{
    font-weight: bold;
}

