
<form name="useForm" >
    <h1 class="cabeceraPagina">PENDIENTE DE VALIDACIÓN</h1>
    <md-content class="layout-padding">
        <div class="para1">
            
            <!--CLIENTE-->
            <div class="control-group" ng-class="{true: 'error'}[submitted && form.email.$invalid]">
                <md-dialog-content class="selecCli">
                    <div class="md-dialog-content">
                        <md-autocomplete id="clienteReferencia"
                                         name='cliente'
                                         tabindex='1'
                                         ng-disabled=true
                                         md-selected-item="clientes.elemSeleccionado"
                                         md-search-text="clientes.texto"
                                         md-selected-item-change="selectedItemChange(item, 'cliente')"
                                         md-items="item in filtrar(clientes.texto, 'cliente') | limitTo : 8"
                                         md-item-text="item.display"
                                         md-min-length="3"
                                         placeholder="Busque por cliente o siglas."
                                         ng-required
                                         ng-init="clientes.texto=clienteCargado"
                                         ng-disabled=true>
                            <md-item-template>
                                <span md-highlight-text="clientes.texto" md-highlight-flags="^i">{{item.display}}</span>
                            </md-item-template>
                            <md-not-found>
                                No se encuenta "{{clientes.texto}}" en la lista.
                            </md-not-found>
                      </md-autocomplete>
                      </div>
                </md-dialog-content>
            </div>
            <br>     

            <!--    SOCIEDAD-->
            <div id="sociedad" class="inBlock">
                <md-input-container title="Sociedad" class="fixed-size" >
                    <label>Sociedad *</label>
                    <md-select id="sociedadSelect"
                               name="sociedad"
                               tabindex="2"
                               ng-model="referencia.sociedad"
                               ng-required="true"
                               ng-disabled=true
                               ng-blur="actualizaErrores('sociedad', useForm.sociedad.$error)">

                        <md-option ng-value="sociedad.codigo" data-ng-repeat="sociedad in catalogo.sociedades" 
                                   ng-selected="sociedad.codigo ==  sociedadSeleccionado ? true:false">
                            {{sociedad.descripcion}} ({{ sociedad.codigo }})
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
            
            <!--   SECTOR-->
            <div id="sectorEmpresarial" class="inBlock">
            <md-input-container title="Sector Empresarial" class="fixed-size" >
                    <label>Sector Empresarial *</label>
                    <md-select id="selectSectorEmpresarial"
                               name="SectorEmp"
                               ng-model="referencia.sectorEmpresarial"  
                               ng-required="true" 
                               ng-disabled=true 
                               tabindex="3"
                               ng-blur="actualizaErrores('SectorEmp', useForm.SectorEmp.$error)">
                        <md-option ng-value="sectorEmpresarial.codigo" 
                                   data-ng-repeat="sectorEmpresarial in catalogo.sectorempresarial" 
                                   ng-selected="sectorEmpresarial.codigo ==  sectorEmpresarialSeleccionado ? true:false">
                            {{sectorEmpresarial.descripcion}}  ({{ sectorEmpresarial.codigo }})
                        </md-option>
                  </md-select>
                </md-input-container>
            </div>

            <!--    Tipo de actividad-->
            <div id="actividad" class="inBlock">
                <md-input-container title="Tipo de actividad" class="fixed-size" >
                    <label>Tipo de actividad *</label>
                    <md-select id="selectActividad"
                               name="tActividad"
                               ng-model="referencia.tipoActividad"
                               ng-required="true"
                               ng-disabled=true
                               tabindex="4"
                               ng-blur="actualizaErrores('tActividad', useForm.tActividad.$error)">
                        <md-option ng-value="tipoActividad.codigo" 
                                   data-ng-repeat="tipoActividad in catalogo.actividad" 
                                   ng-selected="tipoActividad.codigo ==  tipoActividadSeleccionado ? true:false">
                        {{ tipoActividad.descripcion }} ({{ tipoActividad.codigo }})
                        </md-option>      
                    </md-select>
                </md-input-container>
            </div>

            <!--    Tipo de proyecto-->
            <div id="tipoProyecto" class="inBlock" >
                <md-input-container title="Tipo de proyecto" class="fixed-size" >
                    <label>Tipo de proyecto *</label>
                    <md-select id="tipoProyectoSelect"
                               name="tProyecto"
                               ng-model="referencia.tipoProyecto"
                               ng-required="true"
                               ng-disabled=true
                               tabindex="5"
                               ng-blur="actualizaErrores('tProyecto', useForm.tProyecto.$error)">
                        <md-option ng-value="tipoProyecto.codigo" data-ng-repeat="tipoProyecto in catalogo.proyecto" 
                                   ng-selected="tipoProyecto.codigo ==  tipoProyectoSeleccionado ? true:false">
                        {{ tipoProyecto.descripcion }} ({{ tipoProyecto.codigo }})
                        </md-option>      
                    </md-select>
                </md-input-container>
            </div>
            <!--    Fecha inicio-->

            <div id="fecha" class="inBlock" >
            <!--Fecha inicio, Usa la libreria Moment.js-->
                <md-datepicker id="fecha" ng-model="referencia.fechaInicio" md-placeholder="Fecha de Inicio *" 
                               ng-disabled=true readonly="true"></md-datepicker>
            </div>
            <!--    Duración-->    
            <div id="Duracion" class="inBlock" >
                <md-input-container title="Duración en meses" class="fixed-size" >
                    <label>Duración en meses *</label>
                    <input id="duracionInput" name="duracion" type="number" min="1" ng-model="referencia.duracionMeses" 
                           ng-disabled=true ng-required="true"tabindex="7" 
                           ng-blur="actualizaErrores('duracion', useForm.duracion.$error)"/>
                </md-input-container>
            </div>

            <!-- Denominación-->
            <div id="denominacion" class="inBlock"> 
                <md-input-container title="Denominación" class="fixed-size-denominacion" ng-disabled=true >
                    <label>Denominación *</label>
                    <textarea id="denominacionTexto"
                              name="denominacion"
                              type="text"
                              ng-model="referencia.denominacion"
                              ng-disabled=true 
                              md-maxlength="100"
                              rows="2"
                              ng-required="true"tabindex="8"
                              ng-blur="actualizaErrores('denominacion', useForm.denominacion.$error)">
                    </textarea>
                </md-input-container>
            </div>

            <!-- Resumen del proyecto-->
            <div id="resumen" class="inBlock">
                <md-input-container title="Resumen del proyecto" class="fixed-size-resumen">
                    <label>Resumen proyecto *</label>
                    <textarea id="textResumen"
                              name="Rproyecto"
                              ng-model="referencia.resumenProyecto"
                              ng-disabled=true
                              md-maxlength="300"
                              rows="7"
                              ng-required="true"
                              tabindex="9"
                              ng-blur="actualizaErrores('Rproyecto', useForm.Rproyecto.$error)">
                    </textarea>
                </md-input-container>
            </div>
            <!--Problemática del cliente-->
            <div id="problematica" class="inBlock tamanioGrande">
                <md-input-container title="Problemática del cliente" class="fixed-size-resumen">
                    <label>Problemática del cliente *</label>
                    <textarea id="textProblematica"
                              name="ProblemaCliente"
                              ng-model="referencia.problematicaCliente"
                              ng-disabled=true
                              md-maxlength="300"
                              rows="7"
                              ng-required="true"
                              tabindex="10"
                              ng-blur="actualizaErrores('ProblemaCliente', useForm.ProblemaCliente.$error)">
                    </textarea>
                </md-input-container>
            </div>

            <!--    Solución-->
            <div id="solucion" class="inBlock">
                <md-input-container title="Solución GFI" class="fixed-size-solucion" >
                    <label>Solución GFI *</label>
                    <textarea id="textSolucion"
                              name="solGFI"
                              type="text"
                              ng-model="referencia.solucionGfi"
                              ng-disabled=true
                              md-maxlength="500"
                              rows="6"
                              ng-required="true"
                              tabindex="11"
                              ng-blur="actualizaErrores('solGFI', useForm.solGFI.$error)">
                    </textarea>
                </md-input-container>
            </div>

            <!--    FTE totales-->   
            <div id="fte" class="inBlock">
            <md-input-container title="FTE Totales" class="fixed-size" >
                <label>FTE Totales *</label>
                <input id="inputFte"
                       name="fteTotal"
                       type="number"
                       min="1"
                       ng-model="referencia.fteTotales"
                       ng-disabled=true
                       ng-required="true"
                       tabindex="12"
                       ng-blur="actualizaErrores('fteTotal', useForm.fteTotal.$error)"/>
            </md-input-container>
            </div>

            <!--    Certificado-->
            <div id="certificado" class="inBlock">
            <md-input-container  title="Existe certificado del cliente" class="fixed-size">
                <label class="labelCertificado">¿Existe certificado del cliente? *</label>
                <md-radio-group id="hayCertificado"
                                name="certificado"
                                ng-model="referencia.certificado"
                                ng-disabled=true
                                ng-required="true"
                                tabindex="13"
                                ng-blur="actualizaErrores('certificado', useForm.certificado.$error)">                  
                    <md-radio-button class="inBlock radioCertificado" value="si" ng-checked="true" ng-disabled=true>Si</md-radio-button>
                    <md-radio-button class="inBlock radioCertificado" value="no" ng-disabled=true>No</md-radio-button>
                </md-radio-group>
            </md-input-container>
            </div>
            <!--Registros-->
            <div id="registrosPedido" class="inBlock">
            <md-input-container title="Registros de pedido asociados a la referencia" class="fixed-size">
                <label>Registros de pedido asociados a la referencia *</label>
                <input name="registroPedido" type="text" ng-disabled=true ng-model="referencia.regPedidoAsociadoReferencia" tabindex="14"/> <!--ng-required="true"-->
            </md-input-container>
            </div>

            <!--Responsables-->
            <div layout="row">
                <!--Responsable comercial-->
                <div id="Comercial" class="inBlock">
                <md-input-container title="Responsable comercial" class="contCom">
                    <label>Responsable Comercial *</label>

                    <md-select id="respNormal"
                               name="rbleComercial"
                               ng-model="referencia.responsableComercial"
                               ng-disabled=true
                               required
                               tabindex="15"
                               ng-blur="actualizaErrores('rbleComercial', useForm.rbleComercial.$error)"> 

                        <md-option ng-value="responsableComercial.nombre"
                                   data-ng-repeat="responsableComercial in catalogo.comercial"
                                   ng-selected="responsableComercial.nombre ==  responsableComercialSeleccionado ? true:false">
                            {{ responsableComercial.nombre }} ({{ responsableComercial.login }})
                        </md-option>
                    </md-select>
                </md-input-container> 
                </div>

                <!--    Responsable Técnico--> 
                <div id="Tecnico" class="inBlock">
                <md-input-container title="Responsable técnico" class="contTec" >
                    <label>Responsable Técnico *</label>
                    <md-select id="respTecnico" 
                               name="rbleTecnico"
                               ng-model="referencia.responsableTecnico"
                               ng-disabled=true
                               required
                               tabindex="16"
                               ng-blur="actualizaErrores('rbleTecnico', useForm.rbleTecnico.$error)">
                        <md-option ng-value="responsableTecnico.nombre" data-ng-repeat="responsableTecnico in catalogo.tecnico" ng-selected="responsableTecnico.nombre ==  responsableTecnicoSeleccionado ? true:false">
                            {{ responsableTecnico.nombre }} ({{ responsableTecnico.login }})
                        </md-option>
                    </md-select>
                </md-input-container>
                </div>
            </div>

            <!--    Código QR e imagen-->                  
            <div layout="row" class="ImgQr">          
                <div class="contQr" >
                    <!--Imagen-->
                    <input type="file"
                           name="userfile"
                           style="display:none;"
                           ng-model="referencia.imagenProyecto"
                           id="botonFileReal"
                           onchange="angular.element(this).scope().uploadFile(this)"
                           ng-disabled=true
                           ng-required>
                    <input id="imagen"
                           type="button"
                           class="botones"
                           value="SUBIR IMAGEN *"
                           onclick="document.getElementById('botonFileReal').click();"
                           style=""
                           ng-disabled=true
                           tabindex="17"
                           ng-blur="actualizaErrores('userfile', useForm.userfile.$error)"/>
                    
                    <br><br><br><br>
                    <!--Código QR--> 
                    <md-input-container id="qrCode" title="Código QR" class="fixed-size">
                        <label>Código Qr</label>
                        <input id="codigoQR" ng-model="referencia.codigoQr" ng-Change="QrChaged()" ng-disabled=true tabindex="18"/>
                    </md-input-container>
                    <br>
                    <div class="centrado-QR">
                        <qr ng-init="qrCodeVisible=valorQr" text="codigoQr" version="3" error-correction-level="Q" size="100" ng-show="qrCodeVisible"></qr>
                    </div>   
                </div> 
                <!--Imagen-->  
                <div layout="row" id="imagenMostrada" class="contImg">                 
                    <img ng-src="data:image/jpeg;base64,{{UserPhoto}}" id="photo-id" width="450" height="450"/>          
                </div>
            </div>
            <br>
            
            
            <!--Tecnología-->
            <div class="contenedor-tecnologia">
                <md-dialog-content class="selecTec" id="tecnologia">
                    <div class="md-dialog-content"  id="tecnologias">
                        <md-chips ng-model="tecnologiasSeleccionadas" md-autocomplete-snap="" md-transform-chip="transformChip($chip)" md-require-match="false" readonly="true">
                            
                            <md-autocomplete name='tecnologia'
                                             tabindex='19'
                                             ng-disabled=true
                                             md-selected-item="tecnologias.elemSeleccionado"
                                             md-search-text="tecnologias.texto"
                                             md-selected-item-change="selectedItemChange(item, 'tecnologia')"
                                             md-items="item in filtrar(tecnologias.texto, 'tecnologia') | limitTo : 8"
                                             md-item-text="item.display"
                                             md-min-length="2"
                                             placeholder="Busque Tecnologías"
                                             ng-required
                                             ng-init="tecnologias.texto=tecnologiaCargada"
                                             ng-disabled=true>
                                <md-item-template>
                                    <span md-highlight-text="tecnologias.texto" md-highlight-flags="^i">{{item.display}}</span>
                                </md-item-template>
                                <md-not-found>
                                    No se encuenta "{{tecnologias.texto}}" en la lista.
                                </md-not-found>
                          </md-autocomplete> 
                          <md-chip-template>
                            <span>{{$chip.value}}</span>
                          </md-chip-template>
                    </md-chips>
                        
                    </div>
                </md-dialog-content>
            </div>
            
            <div class="botonesCrear" layout-align="center">          
            <!-- BOTONES ROL VALIDADOR -->
                <md-button id="rechazar"
                           class="botonesApp"
                           type="button"
                           ng-click="rechazarReferencia()"
                           tabindex="22">Rechazar</md-button>
                <md-button id="validar"
                           class="botonesApp" type="button" 
                           ng-click="validarReferencia()" 
                           tabindex="23">Validar</md-button>
            </div> 
        </div>
    </md-content>
</form>
