<data md-toolbar class="md-menu-toolbar">
    <md-menu>
        <md-button id="UsuariosBotonMenu" ng-click="$mdOpenMenu()">Usuarios</md-button>
        <md-menu-content>
            <md-menu-item ng-show="menuUsuariosAlta">
                <a id="altaUsuariosBotonMenu" class="textoHipervinculo" href="#/alta"><md-button>Alta</md-button></a>
            </md-menu-item>
            <md-menu-divider></md-menu-divider>
            <md-menu-item ng-show="menuUsuariosGestion">
                <a class="textoHipervinculo" href="#/gestionusuario"><md-button>Gestión</md-button></a>
            </md-menu-item>             
        </md-menu-content>
    </md-menu>
    <md-menu-divider></md-menu-divider>  
    <md-menu>
        <md-button id="referenciasBotonMenu" ng-click="$mdOpenMenu()">Referencias</md-button>
        <md-menu-content>
            <md-menu-item ng-show="menuReferenciasListar">
                <a   id="listarReferenciasBotonMenu"class="textoHipervinculo" href="#/listarReferenciasValidar"><md-button>Validar</md-button></a>
            </md-menu-item>
            <md-menu-item ng-show="menuReferenciasNueva">
                <a id="nuevaReferenciasBotonMenu"class="textoHipervinculo" href="#/nueva" ng-click="actualizarTitulo()"><md-button>Nueva</md-button></a>
            </md-menu-item>
            <md-menu-item ng-show="menuReferenciasGestion">
                <a class="textoHipervinculo" href="#/buscarReferencias"><md-button>Buscar</md-button></a>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
    <md-menu-divider></md-menu-divider>
    <md-menu>
        <md-button id="tecnologiasBotonMenu" ng-click="$mdOpenMenu()">Tecnologias</md-button>
        <md-menu-content>
            <md-menu-item ng-show="menuGestionTecnologias">
                <a id="gestionTecnologiasBotonMenu" class="textoHipervinculo" href="#/gestionTecnologias"><md-button>Gestión</md-button></a>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
    <md-menu-divider></md-menu-divider>
</data>
<div layout="row" class="iconosMenu">
    <ng-md-icon id="iconoAyuda" title="ayuda" icon="live_help" style="fill: #242424" size="25" ng-click="lanzarAyuda()"></ng-md-icon>
    <ng-md-icon id="iconoDatos" title="Usuario registrado" icon="account_box" style="fill: #242424" size="25" ng-click="datosUsuarioLogueado()"></ng-md-icon>
    <ng-md-icon id="iconoSalir" title="Salir" class="iconoLogout" icon="logout" style="fill: #242424" size="25" ng-click="salir()"></ng-md-icon>
</div>
