<div ng-if="esAmigo!=2">
    <p>{{mensajePeticion}}</p>
    <md-button type="button" ng-disabled="esAmigo==1"  ng-click="aniadirAmigo()">Añadir amigo</md-button>
</div>
<p class="cabeceraPagina">Perfil de {{idPerfilVisitar}}</p>
<div ng-if="esAmigo==2">
    
    <img id="fotoPerfil"
       ng-src="imagenes/{{idPerfilVisitar}}/perfil.png"
           tabindex="17">
    
    <md-list>
      <md-list-item class="md-3-line" ng-repeat="foto in fotos">
        <img id="fotoPerfil"
           ng-click="verFoto(this)"
            ng-src="{{foto}}">
      </md-list-item>
    </md-list>
    
   <script type="text/ng-template" id="nodes_renderer.html">

    <div ui-tree-handle class="{{node.clase}} tree-node tree-node-content" ng-click="seleccionarElemento(this, node)" data-nodrag id="{{node.contenido}}">
        <a class="btn btn-success btn-xs flechaAyuda" ng-if="node.nodosHijos && node.nodosHijos.length > 0" data-nodrag ng-click="toggle(this)">
            <span class="glyphicon"
                ng-class="{
                    'glyphicon-chevron-right': collapsed,
                    'glyphicon-chevron-down': !collapsed}">
            </span>
          </a>
        <span ng-if="node.contenido!='Tablon de a'" class="negrita">{{node.propietario}} dice: </span>{{node.contenido}}
        <a class="pull-right btn btn-danger btn-xs borrarAyuda"
           data-nodrag
           ng-click="eliminarElem($event, this)"
           ng-if="this.$parentNodeScope != undefined && this.$modelValue.propietario == usuarioLS.nick">
            
            <span class="glyphicon glyphicon-remove"></span>
            <md-tooltip>
                Eliminar tecnologia
            </md-tooltip>
        </a>
        <a class="pull-right btn btn-primary btn-xs btnAniadirNodo btnAniadir nodoAyuda" data-nodrag ng-click="aniadirElem($event, this, 'nodo')"  >
            <span class="glyphicon glyphicon-plus"></span>
            <md-tooltip>
                Añadir nodo
            </md-tooltip>
        </a>
    </div>
    <ol ui-tree-nodes="" ng-model="node.nodosHijos" ng-class="{hidden: collapsed}">
        <li ng-repeat="node in node.nodosHijos" ui-tree-node data-nodrop-enabled="false" ng-include="'nodes_renderer.html'"></li>
    </ol>
</script>
<div class="row">
    <div class="col-sm-6">
        <div ui-tree="eventosArbol" id="tree-root" data-drag-delay="250" >
          <ol ui-tree-nodes ng-model="data">
            <li ng-repeat="node in data" ui-tree-node ng-include="'nodes_renderer.html'"></li>
          </ol>
        </div>
    </div>
    <div id="contenedorOpciones"  class="col-sm-6">
        <div ng-hide="nodoSeleccionado==null || nodoSeleccionado.contenido=='Tablon de a'" id="datosTecnologia">
            <form name="datosNodo">
                <div id="ContenedporTipoTecnologiaYNombre">
                    <div id=tituloDatosTecnologia>{{titulo}}</div><br>
                    <md-input-container>
                        <label>Comentario</label>
                        <input ng-keypress="intro($event)" id="nombreTecnologia" type="text"ng-model="nodoSeleccionado.nombre" ng-required="true">
                    </md-input-container>
                </div>
                <md-button id="guardarTecnologia" class="botonesApp" type="button"  ng-click="guardarElem()"
                           ng-disabled="datosNodo.$invalid">Guardar</md-button>
            </form>
        </div>
    </div>
</div>



</div>
