    <md-dialog id="rejectDialog" aria-label="Datos del Usuario" >
        <md-toolbar>
          <div class="dialogCabecera">
            <h1>Añadir tecnologia</h1> 
          </div>
        </md-toolbar>
        <md-dialog-content>
            <form name="datosNodo">
               <md-input-container id="nombreTecnologiaNueva">
                        <label>Nombre</label>
                        <input id="inputNombreTecnologia" ng-disabled="true" type="text"ng-model="nodoSeleccionado.nombre">
                </md-input-container>

                <md-input-container id="tipoNuevaTec">
                    <label>Tipo</label>
                    <md-select ng-model="nodoSeleccionado.tipo" ng-required="true">
                        <md-option ng-repeat="tipo in tipos" value="{{tipo}}">
                        {{tipo}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <div>
                    <md-checkbox id="cbProducto" ng-model="nodoSeleccionado.producto">Producto</md-checkbox>
                </div>
              <div class="botonesRechazar">
                  <md-button class="botonesApp" ng-click="crearTecnologia()" ng-disabled="datosNodo.$invalid">Guardar</md-button>
                  <md-button class="botonesApp" ng-click="cancel()">Cancelar</md-button>
              </div>
            </form>
        </md-dialog-content>
    </md-dialog>  